<footer class="footer">
    <div class="container footer__container">
        <h2 class="footer__title">- get in touch with us -</h2>

        <p class="footer__subtitle">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>

        <div class="footer__social-network-icon-wrapper">
            <div class="footer__social-network-icon rss-border">
                <img src="../img/rss-icon.png" alt="rss logo">
            </div>
            <div class="footer__social-network-icon facebook-border">
                <img src="../img/facebook-icon.png" alt="facebook logo">
            </div>
            <div class="footer__social-network-icon twitter-border">
                <img src="../img/twitter-icon.png" alt="twitter logo">
            </div>
            <div class="footer__social-network-icon dribbble-border">
                <img src="../img/dribbble-icon.png" alt="dribbble logo">
            </div>
            <div class="footer__social-network-icon pinterest-border">
                <img src="../img/pinterest-icon.png" alt="pinterest logo">
            </div>
        </div>

        <div class="footer__contact-wrapper">
            <span>Moonshine St. 14-05 Light City<span class="oblique-line">/</span></span>
            <a href="tel:+00 (123) 456 78 90">T. +00 (123) 456 78 90<span class="oblique-line">/</span></a>
            <a href="mailto:firstlast@email.com">first.last@email.com</a>
        </div>
    </div>
</footer>
<script src="main.min.js"></script>
</body>

</html>
