*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    color: $first-black;
}

a {
    text-decoration: none;
    color: $first-black;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.oblique-line {
    margin: 0 7px;
}

.rss-border {
    border: 2px solid $rss;
}

.facebook-border {
    border: 2px solid $facebook;
}

.twitter-border {
    border: 2px solid $twitter;
}

.dribbble-border {
    border: 2px solid $dribbble;
}

.pinterest-border {
    border: 2px solid $pinterest;
}

