.footer {
    background-color: $black;
    padding: 68px 0;

    &__container {
        width: 684px;
        text-align: center;
    }

    &__title {
        color: $first-white;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;

        margin-bottom: 22px;
    }

    &__subtitle {
        color: $second-white;
        font-size: 16px;
        line-height: 28px;

        margin-bottom: 37px;
    }

    &__social-network-icon-wrapper {
        display: flex;
        margin-bottom: 34px;
    }

    &__contact-wrapper {
        line-height: 24px;

        & a,
        span {
            color: $second-white;
            font-size: 16px;
        }
    }

    &__social-network-icon-wrapper {
        display: flex;
        justify-content: center;
    }

    &__social-network-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border-radius: 100%;

        &:not(:first-child) {
            margin-left: 6px;
        }
    }
}
