.nav {
    padding: 23px 0;

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        text-transform: uppercase;
        font-weight: 400;

        padding: 45px 0;

        + .nav__item {
            margin-left: 68px;
        }
    }

    &__link {
        transition: .3s;

        &:hover {
            color: $green-hover;
        }
    }
}

.burger-menu {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 44px;
    height: 37px;

    background-color: $black;

    &__line {
        width: 17px;
        height: 2px;

        background-color: $white;
        margin: 3px;
    }
}
