.instagram-shots {
    background-color: $light-gray;

    padding: 50px 0;

    &__title {
        font-size: 16px;
        font-weight: 700;

        margin-bottom: 24px;
    }

    &__img {
        width: 285px;
        height: 285px;
    }

    &__img:not(:first-child) {
        margin-left: 5px;
    }

    .footer {
        padding: 57px 0;
    }
}
