.recent-post {
    margin-top: 66px;
    padding-bottom: 37px;

    &__list  {
        display: flex;
        flex-wrap: wrap;

        margin-top: 24px;
    }

    &__item {
        margin-bottom: 32px;

        &:nth-child(even) {
            margin-left: 25px;
        }
    }

    &__link {
        display: flex;
    }

    &__title {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__item-text-wrapper {
        width: 392px;
        margin-left: 20px;
    }

    &__item-title {
        font-size: 16px;
    }

    &__item-comments-wrapper {
        color: $third-black;
        font-size: 12px;
        margin-top: 5px;
    }

    &__item-subtitle {
        color: $second-black;
        font-size: 14px;
        line-height: 26px;
        margin-top: 15px;
    }
}
