$black: #000;
$white: #fff;

$first-black: #4E4E4E;
$second-black: #5C5C5C;
$third-black: #7C7C7C;

$light-gray: #f7f7f7;
$gray: #F5F5F5;

$first-white: #FEFEFE;
$second-white: #B9B9B9;

$green-hover: #57A4A4;

$rss: #F8902E;
$facebook: #39599F;
$twitter: #45B0E3;
$dribbble: #D97AB0;
$pinterest: #CC212C;

