@@include("particle-html/header.html")

<main class="intro">
    <div class="container">
        <img src="img/intro.png" alt="rails" class="intro__img">
    </div>
</main>


<!--Recent posts-->
<section class="recent-post">
    <div class="container">
        <h1 class="recent-post__title">- our Recent posts</h1>

        <ul class="recent-post__list">
            <li class="recent-post__item">
                <a href="#" class="recent-post__link">
                    <div class="recent-post__item-img-wrapper">
                        <img src="img/recent-post-img.png" alt="tea drinking">
                    </div>
                    <div class="recent-post__item-text-wrapper">
                        <h3 class="recent-post__item-title">Aenean Adipiscing Etiam Vestibulum</h3>

                        <div class="recent-post__item-comments-wrapper">
                            <span>Photography, Journal </span>
                            <span class="oblique-line">/</span>
                            <span> 9 Comments</span>
                        </div>

                        <p class="recent-post__item-subtitle">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </a>
            </li>

            <li class="recent-post__item">
                <a href="#" class="recent-post__link">
                    <div class="recent-post__item-img-wrapper">
                        <img src="img/recent-post-img.png" alt="tea drinking">
                    </div>
                    <div class="recent-post__item-text-wrapper">
                        <h3 class="recent-post__item-title">Aenean Adipiscing Etiam Vestibulum</h3>

                        <div class="recent-post__item-comments-wrapper">
                            <span>Photography, Journal </span>
                            <span class="oblique-line">/</span>
                            <span> 9 Comments</span>
                        </div>

                        <p class="recent-post__item-subtitle">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </a>
            </li>

            <li class="recent-post__item">
                <a href="#" class="recent-post__link">
                    <div class="recent-post__item-img-wrapper">
                        <img src="img/recent-post-img.png" alt="tea drinking">
                    </div>
                    <div class="recent-post__item-text-wrapper">
                        <h3 class="recent-post__item-title">Aenean Adipiscing Etiam Vestibulum</h3>

                        <div class="recent-post__item-comments-wrapper">
                            <span>Photography, Journal </span>
                            <span class="oblique-line">/</span>
                            <span> 9 Comments</span>
                        </div>

                        <p class="recent-post__item-subtitle">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </a>
            </li>

            <li class="recent-post__item">
                <a href="#" class="recent-post__link">
                    <div class="recent-post__item-img-wrapper">
                        <img src="img/recent-post-img.png" alt="tea drinking">
                    </div>

                    <div class="recent-post__item-text-wrapper">
                        <h3 class="recent-post__item-title">Aenean Adipiscing Etiam Vestibulum</h3>

                        <div class="recent-post__item-comments-wrapper">
                            <span>Photography, Journal </span>
                            <span class="oblique-line">/</span>
                            <span> 9 Comments</span>
                        </div>

                        <p class="recent-post__item-subtitle">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>


<!--Instagram shots-->
<section class="instagram-shots">
    <div class="container">
       <h2 class="instagram-shots__title">- Latest Instagram Shots</h2>

        <div class="instagram-shots__img-wrapper">
            <img src="img/instagram-shots.png" alt="bike" class="instagram-shots__img">
            <img src="img/instagram-shots.png" alt="bike" class="instagram-shots__img">
            <img src="img/instagram-shots.png" alt="bike" class="instagram-shots__img">
            <img src="img/instagram-shots.png" alt="bike" class="instagram-shots__img">
        </div>
    </div>
</section>

<a href="scss/media/_%20tablets.scss"></a>
@@include("particle-html/footer.html")
