@media only screen and (max-width: 373px) {
    .container {
        width: 320px;
    }

    .burger-menu {
        display: flex;
        position: relative;
    }

    .nav {
        display: flex;
        justify-content: flex-end;

        &__list {
            position: absolute;
            top: 60px;
            right: 0;
            background-color: $gray;
            flex-direction: column;

            padding: 5px 12px;
        }

        &__item {
            padding: 5px 0;
        }
    }
    .nav__item + .nav__item {
        margin-left: 0;
    }

    .intro__img {
        width: 320px;
        height: 150px;
    }

    .recent-post {
        margin-top: 38px;

        &__title {
            font-size: 14px;
        }

        &__link {
            flex-direction: column;
            width: 262px;
        }

        &__item-subtitle {
            display: none;
        }

        &__item-img-wrapper {
            width: 160px;
            height: 140px;
        }

        &__item-text-wrapper {
            margin-top: 11px;
            margin-left: 0;
        }

        &__item-title {
            font-size: 14px;
        }
    }

    .instagram-shots {
        padding: 40px 0;

        &__title {
            margin-bottom: 13px;
        }

        &__img {
            display: none;

            &:first-child {
                display: block;
            }
        }
    }

    .footer {
        &__container {
            width: 303px;
        }

        &__contact-wrapper {
            display: flex;
            flex-direction: column;
        }
    }
}
