@media only screen and (max-width: 940px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }

    .nav__item + .nav__item {
        margin-left: 34px;
    }

    .intro__img {
        width: 768px;
        height: 361px;
    }

    .recent-post {
        padding-bottom: 28px;

        &__item:nth-child(even) {
            margin-left: 0px;
        }
    }

    .instagram-shots__img {
        width: 250px;
        height: 249px;

        &:nth-child(4) {
            display: none;
        }
    }

    .footer {
        padding: 57px 0;

        &__container {
            width: 684px;
            margin: 0 auto;
        }
    }
}
